

@media only screen and (min-width: 1501px) {

    #abilityShortcut {
        width: 366px;
        height: 60px;
        top: 720px;
        background: url('../img/3/skillslots.png');
    }
}

@media only screen and (max-width: 1500px), only screen and (max-height: 870px) {

    #abilityShortcut {
        width: 244px;
        height: 40px;
        top: 480px;
        background: url('../img/2/skillslots.png') no-repeat;
    }
}

@media only screen and (max-width: 1000px) {

    #abilityShortcut {
        width: 122px;
        height: 20px;
        top: 240px;
        background: url('../img/1/skillslots.png');
    }
}