.chatInputData {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'AdvoCut', sans-serif;
}

#skillShortcut {
    left: 38%;
    position: absolute;
}

#chat {
    display: none;
    position: absolute;
}

@media only screen and (min-width: 1501px) {
    #chat {
        width: 750px;
        height: 300px;
        top: 405px;
        left: 375px;
    }

    #skillShortcut {
        width: 366px;
        height: 60px;
        top: 720px;
        background: url('../img/3/skillslots.png');
    }
}

@media only screen and (max-width: 1500px), only screen and (max-height: 870px) {
    #chat {
        width: 500px;
        height: 200px;
        top: 250px;
        left: 250px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    #talk {
        width: 100%;
        margin-top: 200px;
        height: 20px;
    }

    #talk .input {
        font-size: 10px;
        color: #eee;
        background: none;
        width: 90%;
        border: 0;
        margin-left: 2%;
        padding: 4px 0;
    }

    #skillShortcut {
        width: 244px;
        height: 40px;
        top: 480px;
        background: url('../img/2/skillslots.png') no-repeat;
    }
}

@media only screen and (max-width: 1000px) {
    #chat {
        width: 250px;
        height: 100px;
        top: 135px;
        left: 125px;
    }

    #skillShortcut {
        width: 122px;
        height: 20px;
        top: 240px;
        background: url('../img/1/skillslots.png');
    }
}