body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

@font-face {
    font-family: 'AdvoCut';
    src: url('../fonts/advocut/advocut-webfont.eot');
    src: url('../fonts/advocut/advocut-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/advocut/advocut-webfont.woff') format('woff'),
    url('../fonts/advocut/advocut-webfont.ttf') format('truetype'),
    url('../fonts/advocut/advocut-webfont.svg#AndinaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.gp {
    font-family: 'AdvoCut', sans-serif;
}

html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background: #111;
    overflow: hidden;
    image-rendering: -moz-crisp-edges;
    border-top: 2px solid #707070;
}

#resizeCheck {
    top: 0;
    height: 0;
    left: 0;
    position: absolute;
    -moz-transition: 0.001s height ease-in-out;
    -webkit-transition: 0.001s height ease-in-out;
    -o-transition: 0.001s height ease-in-out;
    transition: 0.001s height ease-in-out;
}

body {
    background: url('../img/background.png') no-repeat center center;
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.left-ornament, .right-ornament {
    background: url('../img/1/spritesheet.png');
    image-rendering: -moz-crisp-edges;
}

.left-ornament {
    position: relative;
    top: 0;
}

.right-ornament {
    position: relative;
    top: 0;
}

.link:hover {
    cursor: pointer;
    color: #d83939;
}

#resizeCheck {
    position: absolute;
    height: 0;
    top: 0;
    left: 0;
    -moz-transition: 0.001s height ease-in-out;
    -webkit-transition: 0.001s height ease-in-out;
    -o-transition: 0.001s height ease-in-out;
    transition: 0.001s height ease-in-out;
}

.validation-summary {
    margin: .5em;
    min-height: 1em;
}

.validation-error {
    color: #880000;
    text-shadow: 2px 2px 2px #ff6666;
    font-size: 15px;
}

.status {
    color: #0033cc;
    text-shadow: 2px 2px 2px #3399ff;
    font-size: 15px;

}

#bubbles a {
    pointer-events: auto;
    text-decoration: none;
    color: #fcda5c;
}

#bubbles p {
    margin-top: 6px;
}

.bubble {
    background: rgba(45, 45, 45, 0.7);
    padding: 3px 10px 0 10px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    text-align: center;
    position: absolute;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.bubbleTip {
    width: 11px;
    height: 10px;
    top: 10px;
    background: url('../img/thingy.png');
    margin: 0 auto;
    position: relative;
}

.chatInputData {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    font-family: 'AdvoCut', sans-serif;
}

#abilityShortcut {
    left: 38%;
    position: absolute;
}

#chat {
    display: none;
    position: absolute;
}

#chat p {
    font-family: 'AdvoCut', sans-serif;
}

#chatLog {
    width: 100%;
    height: 100%;
    margin-top: -44%;
    overflow-y: hidden;
}

#talk {
    width: 100%
}

#talk .input {
    color: #eee;
    background: none;
    width: 90%;
    margin-left: 2%;
    border: 0;
}

@media only screen and (min-width: 1501px) {

    #parchment h1, #loadCharacter h1, #createCharacter h1, #about h1 {
        margin-top: 60px;
    }

    #parchment h2, #loadCharacter h1, #createCharacter h1, #about h1 {
        margin-left: 30px;
    }

    .left-ornament, .right-ornament {
        background: url('../img/3/spritesheet.png');
        image-rendering: -moz-crisp-edges;
    }

    .left-ornament, .right-ornament {
        background-size: 1266px auto;
    }

    .left-ornament {
        background-position: -1062px 0;
    }

    .right-ornament {
        background-position: -1155px 0;
    }

    .left-ornament, .right-ornament {
        width: 93px;
        height: 36px;
        display: inline-block;
        margin: 0 20px;
        top: 12px;
        position: relative;
    }

    #createCharacter .login {
        margin: 12px auto 12px auto;
    }

    .login, .login div, .createNew, .createNew div {
        margin: 105px 240px 105px 240px;
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
    }

    .login, .login div, .createNew, .createNew div {
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
        background-size: auto 30px;
    }

    .login div {
        width: 375px;
        height: 153px;
        background-position: -687px 0;
    }

    .login div:active {
        background-position: -687px -459px;
    }

    .login.loading div {
        background-position: -681px -2178px;
    }

    .login.loading img {
        width: 24px;
        height: 24px;
    }

    .login img {
        display: none;
    }

    .login.loading span:hover {
        color: inherit;
        cursor: default;
    }

    .login.loading img {
        display: inline;
    }

    #resizeCheck {
        height: 3px;
    }

    .validation-error, .status {
        font-size: 22px;
    }

    .validation-summary {
        margin: -225px auto 12px auto;
    }

    #bubbles {
        width: 1443px;
        height: 768px;
        margin-bottom: -768px;
        top: 15px;
        left: 12px;
        pointer-events: none;
        overflow: hidden;
        z-index: 5;
        position: absolute;
        font-family: 'AdvoCut', sans-serif;
    }

    #chat {
        width: 750px;
        height: 300px;
        top: 405px;
        left: 375px;
    }

    #chatLog {
        font-size: 15px;
    }

    #talk {
        margin-top: 300px;
        height: 30px;
    }

    #talk .input {
        font-size: 15px;
        padding: 6px 0;
    }
    
}

@media only screen and (max-width: 1500px), only screen and (max-height: 870px) {

    #parchment h1, #loadCharacter h1, #createCharacter h1, #about h1 {
        margin-top: 40px;
    }

    #parchment h2, #loadCharacter h1, #createCharacter h1, #about h1 {
        margin-top: 20px;
    }

    .left-ornament, .right-ornament {
        background: url('../img/2/spritesheet.png');
        image-rendering: -moz-crisp-edges;
    }

    .left-ornament, .right-ornament {
        background-size: 844px auto;
    }

    .left-ornament {
        background-position: -708px 0;
    }

    .right-ornament {
        background-position: -770px 0;
    }

    .left-ornament, .right-ornament {
        width: 62px;
        height: 24px;
        position: relative;
        display: inline-block;
        margin: 0 15px;
        top: 6px;
    }

    #createCharacter .login {
        margin: 8px auto 8px auto;
    }

    .login, .login div, .createNew, .createNew div {
        margin: 70px 160px 70px 160px;
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
    }

    .login div {
        width: 250px;
        height: 102px;
        background-position: -458px 0;
    }

    .login div:active {
        background-position: -458px -306px;
    }

    .login.loading div {
        background-position: -454px -1452px;
    }

    .login.loading img {
        width: 16px;
        height: 16px;
    }

    .login img {
        display: none;
    }

    .login.loading span:hover {
        color: inherit;
        cursor: default;
    }

    .login.loading img {
        display: inline;
    }

    #resizeCheck {
        height: 2px;
    }

    .validation-summary {
        margin: -150px auto 8px auto;
    }

    .validation-error, .status {
        font-size: 16px;
    }

    #bubbles {
        width: 962px;
        height: 512px;
        margin-bottom: -512px;
        top: 10px;
        left: 8px;
        pointer-events: none;
        overflow: hidden;
        z-index: 5;
        position: absolute;
        font-family: 'AdvoCut', sans-serif;
    }

    #chat {
        width: 500px;
        height: 200px;
        top: 250px;
        left: 250px;
    }

    #chatLog {
        font-size: 15px;
    }

    #talk {
        margin-top: 200px;
        height: 20px;
    }

    #talk .input {
        font-size: 10px;
        padding: 4px 0;
    }

}

@media only screen and (max-width: 1000px) {

    #parchment h1, #loadCharacter h1, #createCharacter h1, #about h1 {
        margin-top: 20px;
    }

    #parchment h2, #loadCharacter h1, #createCharacter h1, #about h1 {
        margin-top: 10px;
    }

    .left-ornament, .right-ornament {
        background-size: 422px auto;
    }
    
    .left-ornament {
        background-position: -354px 0;
    }

    .right-ornament {
        background-position: -385px 0;
    }
    
    .left-ornament, .right-ornament {
        width: 31px;
        height: 12px;
        display: inline-block;
        margin: 0 10px;
        top: 3px;
        position: relative;
    }

    #createCharacter .login {
        margin: 4px auto 4px auto;
    }

    .login, .login div, .createNew, .createNew div {
        margin: 35px 80px 35px 80px;
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
    }

    .login div {
        width: 125px;
        height: 51px;
        background-position: -229px 0;
    }

    .login div:active {
        background-position: -229px -153px;
    }

    .login.loading div {
        background-position: -227px -726px;
    }

    .login.loading img {
        width: 8px;
        height: 8px;
    }

    .login img {
        display: none;
    }

    .login.loading span:hover {
        color: inherit;
        cursor: default;
    }

    .login.loading img {
        display: inline;
    }

    #resizeCheck {
        height: 1px;
    }

    .validation-summary {
        margin: -75px auto 4px auto;
    }

    .validation-error, .status {
        font-size: 11px;
    }

    #bubbles {
        width: 481px;
        height: 256px;
        margin-bottom: -256px;
        top: 5px;
        left: 4px;
        pointer-events: none;
        overflow: hidden;
        z-index: 5;
        position: absolute;
        font-family: 'AdvoCut', sans-serif;
    }

    #chat {
        width: 250px;
        height: 100px;
        top: 135px;
        left: 125px;
    }

    #chatLog {
        font-size: 10px;
    }

    #talk {
        margin-top: 100px;
        height: 10px;
    }

    #talk .input {
        font-size: 5px;
        padding: 2px 0;
    }

}